.header .logo-img {
    width: 300px;
    height: 80px;
}

.header-text {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    color: #000;
}